@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* ::-webkit-scrollbar {
  display: none;
} */

body {
  background-color: #080e1a;   
  /* overflow-y: hidden;
  overflow-x: hidden; */
  
  /* width: auto;   */
}

.logo_1 {
  text-align: center;
  width: 100%;
  margin-top: -3%;  
  font-family: 'Orbitron', sans-serif;
  font-weight: 100;
  font-size: 9.9vw;  
  font-kerning: auto;
  letter-spacing: -0.01vw;
  color: rgb(217, 216, 219);
  animation: fadeIn ease 2s;
}

.logo_0 {
  text-align: center;
  width: 100%;
  margin-top: -3%;  
  font-family: 'Orbitron', sans-serif;
  font-weight: 100;
  font-size: 9.9vw;  
  font-kerning: auto;
  letter-spacing: -0.01vw;
  color: rgb(217, 216, 219);
  animation: fadeOut ease 1.2s;
}

.menu_1 {
  font-family: "FreeMono", monospace;  
  text-align: justify;
  font-size: 2.4vw;
  margin-top: -2%;
  margin-left: 0.8%;
  margin-right: 1%;
  line-height: 2.3vw;  
  letter-spacing: 0.05vw;
  color: rgb(185, 175, 226); 
  display: block;
  animation: fadeIn ease 2s;
}

.menu_0 {
  font-family: "FreeMono", monospace;  
  text-align: justify;
  font-size: 2.4vw;
  margin-top: -2%;
  margin-left: 0.8%;
  margin-right: 1%;
  line-height: 2.3vw;  
  letter-spacing: 0.05vw;
  color: rgb(185, 175, 226);  
  display: block;
  animation: fadeOut ease 1s;
}

.button {
  font-family: "FreeMono", monospace;  
  text-align: justify;
  font-size: 2.4vw;
  letter-spacing: 0.05vw;
  background-color: #080e1a;
  color: rgb(185, 175, 226);
  border: none;
  transition-duration: 0.5s;
}

.button:hover {    
  color: rgb(255, 255, 255);
}

.flex-container {  
  visibility: hidden;
  overflow: hidden;  
  overflow-y: hidden;
  overflow-x: hidden;
  animation: fadeIn ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding-top: 1%;
  background-color: #080e1a;
}

.flex-container > div {  
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  background-color: #111e36;
  color:  rgb(229, 229, 248);
  font-family: "Free Sans", monospace;
  width: 100px;
  margin: 10px;
  text-align: justify;
  line-height: 1.5vw;
  font-size: 1.1vw;
  flex: 25%;
}

.calendar_basic_0{
  visibility: hidden;
}

.calendar_basic_1 {  
  visibility: visible;  
  margin-top: -4%;
  margin-left: 1%;
  margin-right: 4%;
  animation: fadeIn ease 5s; 
}

.container {
  padding-left: 1vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
  display: flex;
  align-items: flex-start;
  justify-content: left;
}
img {
  border-radius: 0.5vw;
  max-width: 15vw
}
.image {
  padding-left: 8vw;
  padding-right: 1vw;
  flex-basis: 42%;
  order: 1;
  
}
.chart_verse {
  flex-basis: 100%; 
  color: #CD5C5C;  
  font: 0.9vw "Fira Sans", serif;
}
#event_ {
 padding-top: 2.5vw;
 font: 0.7vw "Fira Sans", serif;
}

.google-visualization-tooltip { 
  pointer-events: none;
  background-color: #0f0f12 !important;
  -webkit-text-fill-color: rgb(197, 194, 210);
  height:auto !important;
  width: auto !important;
  overflow:hidden !important;
  padding-left: 0.5vw !important;
  margin-block: -1vw !important;
  box-shadow: 1vw 0.8vw 0.7vw 0.1vw rgba(10, 10, 10, 0.75) !important;
  border-color: rgba(0, 235, 252, 0.807) !important;
  border-radius: 1vw !important; 
  font-size:  0.9vw !important;
  animation: fadeIn ease 0.9s;   
 }

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}


.wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;  
  width: 100%;
  padding-left: 25%;
  padding-top: 5%;
}
.aspect {
  padding-bottom: 70%;
  position: relative;
  width: 100%;
  
}
.aspect-inner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 95%;
  height: 95%;
}

.book_0{    
  height: 65%;
  visibility: hidden;
  transition: margin-left 0.25s ease-out;
  width: 75%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.book_1{    
  height: 75%;
  visibility: visible;
  transition: margin-left 0.25s ease-out;
  width: 75%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  animation: fadeIn ease 1s;
}

.page{
  height: 100%;
  width: 100%;
  background-color:white;  
  font-size: 0.75vw; 
}

.verse{
  padding-top: 22%;
  padding-left: 15%;
}
.insights {
  max-width: 75%;
  height: 50%;
  padding-left: 19%;
  padding-top: 20%;
}
.date {
  padding-top: 25%;
  padding-left: 15%;
}
.name {
  padding-top: 25%;
  padding-left: 15%;
}

#book .page-wrapper{
  -webkit-perspective:1700px;
  -moz-perspective:1700px;
  -ms-perspective:1700px;
  -o-perspective:1700px;
  perspective:3000px;
}

#book .hard{    
  background:#ccc !important;
  color:#333;
  -webkit-box-shadow:inset 0 0 5px rgb(100, 92, 92);
  -moz-box-shadow:inset 0 0 5px rgb(100, 92, 92);
  -o-box-shadow:inset 0 0 5px rgb(100, 92, 92);
  -ms-box-shadow:inset 0 0 5px rgb(100, 92, 92);
  box-shadow:inset 0 0 5px rgb(100, 92, 92);
  font-weight:bold;
  font-size:xx-large;
  text-align: center;
}

#book .odd{
  background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
  background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  -webkit-box-shadow:inset 0 0 5px rgb(100, 92, 92);
  -moz-box-shadow:inset 0 0 5px rgb(100, 92, 92);
  -o-box-shadow:inset 0 0 5px rgb(100, 92, 92);
  -ms-box-shadow:inset 0 0 5px rgb(100, 92, 92);
  box-shadow:inset 0 0 5px rgb(100, 92, 92);
}

#book .even{
  background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
  background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:linear-gradient(left, #fff 95%, #dadada 100%);
  -webkit-box-shadow:inset 0 0 5px #600;
  -moz-box-shadow:inset 0 0 5px #600;
  -o-box-shadow:inset 0 0 5px #600;
  -ms-box-shadow:inset 0 0 5px #600;
  box-shadow:inset 0 0 5px #600;
}

/* #book .shadow{
  -webkit-box-shadow: 50px 4px 30px rgb(65, 16, 16);
  -moz-box-shadow: 50px 4px 10px rgb(44, 26, 26);
  -ms-box-shadow: 0 4px 10px rgb(29, 6, 6);
  -o-box-shadow: 0 4px 10px rgb(51, 32, 32);
  box-shadow: 0 4px 15px rgb(231, 218, 218);
} */

.slidecontainer {
margin-top: 7%;
margin-left: 22.5%;
width: 33%; /* Width of the outside container */
}

.slider {
-webkit-appearance: none;
appearance: none;
width: 100%;
height: 2px;
background: #d3d3d3;
outline: none;
opacity: 0.1;
-webkit-transition: .9s;
transition: opacity 1.3s;
}

#slideRange {
  visibility: visible;
  animation: fadeIn 1s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 12px;
background: #04AA6D;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 11px;
background: #04AA6D;
cursor: pointer;
}

.range-value {
  position: absolute;
  top: -50%;
}

.range-value span {

width: 30px;
height: 24px;
line-height: 24px;
text-align: center;
background: #000;
color: #fff;
font-size: 12px;
display: block;
position: absolute;
left: 50%;
transform: translate(-50%, 0);
border-radius: 6px;
}

#volume {
color: white;
}

#event_date {
color: white;
}

.bubble {
  background: red;
  display: none;    
  color: white;    
  margin-left: 25%;
  top: 73%;   
  padding: 10px 20px;    
  position: absolute;
  border-radius: 4px;
  left: 50%;    
  transform: translateX(-50%);
  animation: fadeInBubble ease 0.5s;           
}

.bubble::after {    
  content: "";
  position: absolute;    
  width: 2px;
  height: 2px;
  background: red;
  top: -1px;
  left: 50%;       
}

@keyframes fadeInBubble {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
